:root {
    /* variables */
    --black: #000;
    --middle-black: #111111;
    --light-gray: #eeeeee;
    --gray: #3A3A3A; 
    --yellow-green: #E5F788;
    --layout-margin: 1.5rem 2rem;
    --text-margin: 0.5rem 0;
}

* {
    /* reset layout */
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    /* text style */
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
}

/* nav */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: var(--layout-margin);
}

.nav-left {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}
.nav-left p {
    color: var(--black);
    font-weight: 700;
}

.nav-right {
    display: flex;
    align-items: center;
    gap: 1rem;
    list-style: none;
}
.nav-right a {
    color: var(--gray);
}
.nav-right a:hover {
    text-decoration: underline;
}

#nav-open-account-button {
    border: 0.1rem solid var(--light-gray);
    padding: 0.5rem;
    border-radius: 0.5rem;
    font-weight: 500;
}
#nav-open-account-button:hover {
    background-color: var(--light-gray);
    border: 0.1rem solid var(--light-gray);
    text-decoration: none;
}

/* main */
main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: var(--layout-margin);
}

.main-left {
    width: 60vw;
}
.main-left-top {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    margin-bottom: 0.5rem;
}

.main-left-top #neobank {
    padding: 0.5rem;
    background-color: var(--light-gray);
    color: var(--middle-black);
    border-radius: 2rem;
}
.main-left-top #license {
    font-weight: 100;
}

.main-left-middle {
    vertical-align: middle;
    margin: var(--text-margin);
    font-size: 2rem;
    width: 80%;
}
.main-left-middle h1 {
    display: flex;
    align-items: center;
    gap: 1rem;
}
.main-left-bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: var(--text-margin);
    width: 60%;
}
.main-left-bottom #botom-divide {
    background-color: var(--gray);
    width: 0.1rem;
    height: 4rem;
}
.main-left-bottom #botom-button {
    background-color: var(--yellow-green);
    padding: 0.75rem;
    border-radius: 0.5rem;
    color: var(--middle-black);
    font-weight: 500;
}
.main-left-bottom #botom-button:hover {
    transition: all .2s ease-in-out;
    transform: scale(1.1);
}

.main-right img {
    width: 40vw;
}