<!DOCTYPE html>
<html lang="en">
    <%- include("../partials/head", {page: "About"}) %>

    <body class="d-flex flex-column align-content-between justify-content-between" style="height: 100vh;">
        <header>
            <%- include("../partials/nav") %>
        </header>

        <main class="flex-grow-1">
            <div class="p-5">
                <div class="container">
                    <h1>About EJS</h1>
                    <p>EJS, or Embedded JavaScript, is a popular templating language used for building dynamic web applications in Node.js. EJS allows you to create reusable HTML templates with embedded JavaScript code that can be dynamically rendered with different data values. It is similar to other templating languages such as Jade/Pug and Handlebars.</p>
                    <p>With EJS, you can create templates that include loops, conditionals, and partials. These templates can be rendered on the server-side to create dynamic HTML pages that are sent to the client's browser. EJS is often used in conjunction with Express, a popular web application framework for Node.js, to create full-stack web applications.</p>
                    <p>To use EJS in your Node.js application, you first need to install it using npm. You can do this by running the following command in your terminal:</p>
                    
                    <div class="card mt-3 mb-3">
                        <div class="card-body">
                            <code>npm install ejs</code>
                        </div>
                    </div>
                    <p>Once EJS is installed, you can use it to render templates in your Node.js application using the ejs.render() method. For example, you might use EJS to render a dynamic HTML page that displays a list of blog posts from a database.</p>
                    <p>Overall, EJS is a powerful tool for creating dynamic web applications with Node.js, and it is widely used in the Node.js community for building web applications of all sizes and complexities.</p>
                </div>
            </div>
        </main>

        <%- include("../partials/footer") %>
    </body>
</html>