/* fonte roboto 400 regular e 700 bold */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
    margin: 0; /* tira a margem automática da página */
}

html, body {
    /* layout */
    height: 100%;

    /* texto */
    font-family: 'Roboto', sans-serif;
    -webkit-font-smoothing: antialiased; /* webkit filtro antialise de fontes */
    --gray: hsl(240, 9%, 89%); /* atribuição de variável gray */
    --black: hsl(240, 6%, 13%);
}

body {
    /* layout */
    display: grid; 
    place-items: center;
    background-color: var(--black);
    overflow-y: hidden; 
}

main {
    /* layout */
    width: 375px;
    height: 812px;

    /* background */
    background-image: url(images/background.svg);
}

.conteiner {
    /* layout */
    max-width: 250px;
    margin-left: auto;
    margin-right: auto;
    text-align: center; /* alinhamento vertical para textos e elementos com propriedade de texto */

    /* texto */
    color: var(--gray);
}

.avatar {
    /* layout */
    height: 10rem; /* 1rem = tamanho da fonte (16px nesse caso), entao 10rem = 160px */
    margin: 11.5rem auto 0;
    position: relative;
}

.avatar span {
    /* layout */
    position: absolute;
    top: -15px;
    z-index: 1;
}

.avatar > img { /* imagem no primeiro nível de identação */
    /* imagem */
    width: 10rem;
    height: 11.5rem;
    object-fit: cover;
    clip-path: polygon(50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%); /* esculpe o objeto geometricamente, formando um poligno */
}

h1 {
    /* layout */
    margin-top: 1.5rem;

    /* texto */
    font-size: 1.5rem;
}

a {
    /* texto */
    color: var(--gray);
    font-size: 0.75rem;
    text-decoration: none;

    /* layout */
    margin-top: 0.50rem;
    display: flex;
    gap: 0.75rem; /* espaço entre os elementos */
    justify-content: center; /* alinhamento vertical */
    align-items: center; /* alinhamento horizontal */
}

#bio {
    margin-top: 2rem;
}

ul {
    /* layout */
    margin-top: 4rem;
    list-style: none;
    padding: 0;
    display: flex;
    gap: 0.5rem;
    justify-content: center;
}