/* position */
.pos-sticky {position: sticky; top: 0;}

/* z-index */
.z-1 {z-index: 1;}

/* display */
.d-initial {display: initial;}
.d-inherit {display: inherit;}
.d-none {display: none;}
.d-flex {display: flex;}
.d-block {display: block;}
.d-grid {display: grid;}
.d-inline {display: inline;}

.row {display: flex; flex-direction: row;}
.col {display: flex; flex-direction: column;}

.fw-wrap {flex-wrap: wrap;}
.fw-nowrap {flex-wrap: nowrap;}
.fw-reverse {flex-wrap: wrap-reverse;}

/* gap */
.g-initial {gap: initial;}
.g-inherit {gap: inherit;}
.g-unset {gap: unset;}
.g-default {gap: var(--gap-default);}

.g-0 {gap: 0px;}
.g-4 {gap: 4px;}
.g-8 {gap: 8px;}
.g-16 {gap: 16px;}
.g-24 {gap: 24px;}
.g-32 {gap: 32px;}
.g-48 {gap: 48px;}

/* width */
.w-initial {width: initial;}
.w-inherit {width: inherit;}
.w-unset {width: unset;}
.w-auto {width: auto;}
.w-default {width: var(--width-default);}

.w-fc {width: fit-content;}
.w-fa {width: -webkit-fill-available;}

.w-max-cont {width: max-content;}
.w-min-cont {width: min-content;}

.w-min-100 {min-width: 100%;}
.w-min-50 {min-width: 50%;}
.w-max-100 {max-width: 100%;}
.w-max-50 {max-width: 50%;}

.w-100 {width: 100%;}
.w-50 {width: 50%;}

/* height */
.h-initial {height: initial;}
.h-inherit {height: inherit;}
.h-unset {height: unset;}
.h-auto {height: auto;}

.h-fc {height: fit-content;}
.h-fa {height: -webkit-fill-available;}

.h-max-content {height: max-content;}
.h-min-content {height: min-content;}

.h-min-100 {min-height: 100%;}
.h-min-50 {min-height: 50%;}
.h-max-100 {max-height: 100%;}
.h-max-50 {max-height: 50%;}

.h-100 {height: 100%;}
.h-50 {height: 50%;}

.h-0-25 {height: 0.25rem;}
.h-0-5 {height: 0.5rem;}
.h-1 {height: 1rem;}
.h-1-5 {height: 1.5rem;}
.h-2 {height: 2rem;}
.h-2-5 {height: 2.5rem;}
.h-3 {height: 3rem;}

/* aspect-ratio */
.ar-1-1 {aspect-ratio: 1/1;}
.ar-3-4 {aspect-ratio: 3/4;}
.ar-16-9 {aspect-ratio: 16/9;}

/* object-fit */
.obj-fit-cover {object-fit: cover;}
.obj-fit-contain {object-fit: contain;}
.obj-fit-fill {object-fit: fill;}

/* overflow */
.of-hidden {overflow: hidden;}
.of-auto {overflow: auto;}

/* padding */
.p-initial {padding: initial;}
.p-inherit {padding: inherit;}
.p-unset {padding: unset;}
.p-0 {padding: 0px;}
.p-4 {padding: 4px;}
.p-8 {padding: 8px;}
.p-14 {padding: 14px;}
.p-16 {padding: 16px;}
.p-24 {padding: 24px;}
.p-32 {padding: 32px;}
.p-48 {padding: 48px;}

.pt-initial {padding-top: initial;}
.pt-inherit {padding-top: inherit;}
.pt-unset {padding-top: unset;}
.pt-0 {padding-top: 0px;}
.pt-4 {padding-top: 4px;}
.pt-8 {padding-top: 8px;}
.pt-14 {padding-top: 14px;}
.pt-16 {padding-top: 16px;}
.pt-24 {padding-top: 24px;}
.pt-32 {padding-top: 32px;}
.pt-48 {padding-top: 48px;}

.pb-initial {padding-bottom: initial;}
.pb-inherit {padding-bottom: inherit;}
.pb-unset {padding-bottom: unset;}
.pb-0 {padding-bottom: 0px;}
.pb-4 {padding-bottom: 4px;}
.pb-8 {padding-bottom: 8px;}
.pb-14 {padding-bottom: 14px;}
.pb-16 {padding-bottom: 16px;}
.pb-24 {padding-bottom: 24px;}
.pb-32 {padding-bottom: 32px;}
.pb-48 {padding-bottom: 48px;}

.px-initial {padding-left: initial; padding-right: initial;}
.px-inherit {padding-left: inherit; padding-right: inherit;}
.px-unset {padding-left: unset; padding-right: unset;}
.px-0 {padding-left: 0px; padding-right: 0px;}
.px-4 {padding-left: 4px; padding-right: 4px;}
.px-8 {padding-left: 8px; padding-right: 8px;}
.px-14 {padding-left: 14px; padding-right: 14px;}
.px-16 {padding-left: 16px; padding-right: 16px;}
.px-24 {padding-left: 24px; padding-right: 24px;}
.px-32 {padding-left: 32px; padding-right: 32px;}
.px-48 {padding-left: 48px; padding-right: 48px;}

.py-initial {padding-bottom: initial; padding-top: initial;}
.py-inherit {padding-bottom: inherit; padding-top: inherit;}
.py-unset {padding-bottom: unset; padding-top: unset;}
.py-0 {padding-bottom: 0px; padding-top: 0px;}
.py-4 {padding-bottom: 4px; padding-top: 4px;}
.py-8 {padding-bottom: 8px; padding-top: 8px;}
.py-14 {padding-bottom: 14px; padding-top: 14px;}
.py-16 {padding-bottom: 16px; padding-top: 16px;}
.py-24 {padding-bottom: 24px; padding-top: 24px;}
.py-32 {padding-bottom: 32px; padding-top: 32px;}
.py-48 {padding-bottom: 48px; padding-top: 48px;}
.py-128 {padding-bottom: 128px; padding-top: 128px;}

/* margin */
.m-initial {margin: initial;}
.m-inherit {margin: inherit;}
.m-unset {margin: unset;}
.m-0 {margin: 0px;}
.m-4 {margin: 4px;}
.m-8 {margin: 8px;}
.m-16 {margin: 16px;}
.m-24 {margin: 24px;}
.m-32 {margin: 32px;}
.m-48 {margin: 48px;}

.mt-initial {margin-top: initial;}
.mt-inherit {margin-top: inherit;}
.mt-unset {margin-top: unset;}
.mt-0 {margin-top: 0px;}
.mt-4 {margin-top: 4px;}
.mt-8 {margin-top: 8px;}
.mt-16 {margin-top: 16px;}
.mt-24 {margin-top: 24px;}
.mt-32 {margin-top: 32px;}
.mt-48 {margin-top: 48px;}

.mb-initial {margin-bottom: initial;}
.mb-inherit {margin-bottom: inherit;}
.mb-unset {margin-bottom: unset;}
.mb-0 {margin-bottom: 0px;}
.mb-4 {margin-bottom: 4px;}
.mb-8 {margin-bottom: 8px;}
.mb-16 {margin-bottom: 16px;}
.mb-24 {margin-bottom: 24px;}
.mb-32 {margin-bottom: 32px;}
.mb-48 {margin-bottom: 48px;}

.ml-initial {margin-left: initial;}
.ml-inherit {margin-left: inherit;}
.ml-unset {margin-left: unset;}
.ml-0 {margin-left: 0px;}
.ml-4 {margin-left: 4px;}
.ml-8 {margin-left: 8px;}
.ml-16 {margin-left: 16px;}
.ml-24 {margin-left: 24px;}
.ml-32 {margin-left: 32px;}
.ml-48 {margin-left: 48px;}

.mr-initial {margin-right: initial;}
.mr-inherit {margin-right: inherit;}
.mr-unset {margin-right: unset;}
.mr-0 {margin-right: 0px;}
.mr-4 {margin-right: 4px;}
.mr-8 {margin-right: 8px;}
.mr-16 {margin-right: 16px;}
.mr-24 {margin-right: 24px;}
.mr-32 {margin-right: 32px;}
.mr-48 {margin-right: 48px;}

.mx-initial {margin-left: initial; margin-right: initial;}
.mx-inherit {margin-left: inherit; margin-right: inherit;}
.mx-unset {margin-left: unset; margin-right: unset;}
.mx-0 {margin-left: 0px; margin-right: 0px;}
.mx-4 {margin-left: 4px; margin-right: 4px;}
.mx-8 {margin-left: 8px; margin-right: 8px;}
.mx-16 {margin-left: 16px; margin-right: 16px;}
.mx-24 {margin-left: 24px; margin-right: 24px;}
.mx-32 {margin-left: 32px; margin-right: 32px;}
.mx-48 {margin-left: 48px; margin-right: 48px;}

.my-initial {margin-bottom: initial; margin-top: initial;}
.my-inherit {margin-bottom: inherit; margin-top: inherit;}
.my-unset {margin-bottom: unset; margin-top: unset;}
.my-0 {margin-bottom: 0px; margin-top: 0px;}
.my-4 {margin-bottom: 4px; margin-top: 4px;}
.my-8 {margin-bottom: 8px; margin-top: 8px;}
.my-16 {margin-bottom: 16px; margin-top: 16px;}
.my-24 {margin-bottom: 24px; margin-top: 24px;}
.my-32 {margin-bottom: 32px; margin-top: 32px;}
.my-48 {margin-bottom: 48px; margin-top: 48px;}

/* justify-content */
.jc-initial {justify-content: initial;}
.jc-inherit {justify-content: inherit;}
.jc-unset {justify-content: unset;}
.jc-fs {justify-content: flex-start;}
.jc-fe {justify-content: flex-end;}
.jc-ce {justify-content: center;}
.jc-sa {justify-content: space-around}
.jc-sb {justify-content: space-between;}
.jc-se {justify-content: space-evenly;}
.jc-st {justify-content: stretch;}

/* align-items */
.ai-initial {align-items: initial;}
.ai-inherit {align-items: inherit;}
.ai-unset {align-items: unset;}
.ai-fs {align-items: flex-start;}
.ai-fe {align-items: flex-end;}
.ai-ce {align-items: center;}
.ai-st {align-items: stretch;}
.ai-bl {align-items: baseline;}

/* border size */
.b-unset {border: unset;}
.b-1 {border: 1px solid;}
.b-2 {border: 2px solid;}
.b-4 {border: 4px solid;}

.b-top-1 {border-top: 1px solid;}
.b-top-2 {border-top: 2px solid;}
.b-top-4 {border-top: 4px solid;}

.b-bottom-1 {border-bottom: 1px solid;}
.b-bottom-2 {border-bottom: 2px solid;}
.b-bottom-4 {border-bottom: 4px solid;}

.b-left-1 {border-left: 1px solid;}
.b-left-2 {border-left: 2px solid;}
.b-left-4 {border-left: 4px solid;}

.b-right-1 {border-right: 1px solid;}
.b-right-2 {border-right: 2px solid;}
.b-right-4 {border-right: 4px solid;}

.b-initial {border-style: initial;}
.b-inherit {border-style: inherit;}
.b-unset {border-style: unset;}
.b-solid {border-style: solid;}
.b-dashed {border-style: dashed;}
.b-dotted {border-style: dotted;}
.b-double {border-style: double;}
.b-groove {border-style: groove;}

.br-4 {border-radius: 4px;}
.br-8 {border-radius: 8px;}
.br-16 {border-radius: 16px;}
.br-24 {border-radius: 24px;}
.br-50 {border-radius: 50%;}

/* text */
.fs-initial {font-size: initial;}
.fs-inherit {font-size: inherit;}
.fs-unset {font-size: unset;}
.fs-8 {font-size: 8px;}
.fs-12 {font-size: 12px;}
.fs-14 {font-size: 14px;}
.fs-16 {font-size: 16px;}
.fs-18 {font-size: 18px;}
.fs-20 {font-size: 20px;}
.fs-24 {font-size: 24px;}
.fs-32 {font-size: 32px;}
.fs-48 {font-size: 48px;}

.fw-initial {font-weight: initial;}
.fw-inherit {font-weight: inherit;}
.fw-unset {font-weight: unset;}
.fw-300 {font-weight: 300;}
.fw-400 {font-weight: 400;}
.fw-500 {font-weight: 500;}
.fw-600 {font-weight: 600;}
.fw-700 {font-weight: 700;}
.fw-800 {font-weight: 800;}

.color-blue {color: #3162dd;}
.color-green {color: #30d974;}
.color-purple {color: #7430d9;}
.color-light-purple {color: #dcd8f8;}
.color-yellow-green {color: #b1f3a0;}

.td-initial {text-decoration: initial;}
.td-inherit {text-decoration: inherit;}
.td-unset {text-decoration: unset;}
.td-undeline {text-decoration: underline;}
.td-wavy {text-decoration: wavy;}
.td-dashed {text-decoration: dashed;}
.td-dotted {text-decoration: dotted;}
.td-double {text-decoration: double;}

.ta-initial {text-align: initial;}
.ta-inherit {text-align: inherit;}
.ta-unset {text-align: unset;}
.ta-lt {text-align: left;}
.ta-rt {text-align: right;}
.ta-ce {text-align: center;}
.ta-justify {text-align: justify;}

.tt-initial {text-transform: initial;}
.tt-inherit {text-transform: inherit;}
.tt-unset {text-transform: unset;}
.tt-capitalize {text-transform: capitalize;}
.tt-low {text-transform: lowercase;}
.tt-up {text-transform: uppercase;}

.to-initial {text-overflow: initial;}
.to-inherit {text-overflow: inherit;}
.to-unset {text-overflow: unset;}
.to-clip {text-overflow: clip;}
.to-ellipsis {text-overflow: ellipsis;}

.va-auto {vertical-align: auto;}
.va-top {vertical-align: top;}
.va-ce {vertical-align: middle;}
.va-bl {vertical-align: baseline;}
.va-sub {vertical-align: sub;}
.va-sup {vertical-align: super;}

.lh-8 {line-height: 8px;}
.lh-12 {line-height: 12px;}
.lh-14 {line-height: 14px;}
.lh-16 {line-height: 16px;}
.lh-18 {line-height: 18px;}
.lh-24 {line-height: 24px;}
.lh-32 {line-height: 32px;}

/* list */
.ls-initial {list-style: initial;}
.ls-inherit {list-style: inherit;}
.ls-unset {list-style: unset;}
.ls-none {list-style: none;}
.ls-circle {list-style: circle;}
.ls-disc {list-style: disc;}
.ls-decimal {list-style: decimal;}

/* cursor */
.cursor-auto {cursor: auto;}
.cursor-pointer {cursor: pointer;}
.cursor-grab {cursor: grab;}


/* user-interaction */
.usr-slct-none {user-select: none;}
.usr-slct-unset {user-select: unset;}
.usr-slct-auto {user-select: auto;}
.usr-slct-none {user-select: none;}
.usr-slct-all {user-select: all;}
.usr-slct-contain {user-select: contain;}
.usr-slct-txt {user-select: text;}

.ud-none {-webkit-user-drag: none;}
.ud-auto {-webkit-user-drag: auto;}
.ud-element {-webkit-user-drag: element;}

/* effects */
.opacity-effect {opacity: 0.5;}
.opacity-effect:hover {opacity: 1;}

.gray-effect {filter: grayscale(100%);}
.gray-effect:hover {filter: grayscale(0%);}

.trans-scale-1, .onhover-trans-scale-1:hover {transform: scale(1); }
.trans-scale-1-1, .onhover-trans-scale-1-1:hover {transform: scale(1.1); transition: all 0.3s;}

/* animation */
.to-left:hover {
    animation-name: to-the-left;
    animation-duration: 2s;
}
@keyframes to-the-left {
    0% {
        gap: 0.5rem;
    } 50% {
        gap: 1rem;
    } 100% {
        gap: 0.5rem;
    }
}

/* elements */
.stripe {background-color: var(--light-gray); height: 1px;}

/* onresponsive */
@media only screen and (max-width: 600px) {
    .onres-fw-wrap {flex-wrap: wrap;}
    .onres-jc-ce {justify-content: center;}

    .onres-w-100 {width: 100%;}
}