.marquee {
  padding: 2rem;
  width: 100%;
  --gap: 4rem;
  display: flex;
  overflow: hidden;
  user-select: none;
  gap: var(--gap);
}

.marquee__content {
  flex-shrink: 0;
  display: flex;
  justify-content: space-around;
  min-width: 100%;
  gap: var(--gap);
  animation: marquee 20s linear infinite;
}

.marquee__content span {
  font-size: 2rem;
  font-weight: 600;
  color: #bbb;
  font-family: tahoma;
  letter-spacing: 0.2rem;
}

@keyframes marquee {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(calc(-100% - var(--gap)));
  }
}