/* setup */
:root {
    /* colors */
    --white: #fff;
    --accent-white: #f5f5f5;
    
    --black: #161616;
    --accent-black: #1E1D23;

    --gray: #878787;
    --light-gray: #d4d4d4;
    --dark-gray: #424242;

    --dark: #06090a;
    --accent-dark: #272E35;

    --light: #848B8E;

    --primary: #00A8E7;

    /* spacing */
    --width-root: 1280px;
    --width-default: 400px;
    --height-default: 400px;

    --gap-default: 3rem;

    /* font */
    font-family: sans-serif, system-ui;
    font-size: 16px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    scrollbar-width: thin;
    scroll-behavior: smooth;
    transition: 0.03s;

    list-style: none;
    text-decoration: none;
    color: inherit;
    font-weight: 400;
}

/* layout */
body {
    background-color: var(--white);
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
}

main section {
    margin: 4rem 0;
}
.sect-content {
    max-width: var(--width-root);
    margin: auto;
    padding: 0 1.5rem;
}
.sect-header {
    padding-bottom: 1.5rem;
}

/* theme */
.bkg-black {background-color: var(--black); color: var(--white);}
.bkg-white {background-color: var(--white); color: var(--black);}

.bkg-light {background-color: var(--light); color: var(--dark);}
.bkg-dark {background-color: var(--dark); color: var(--white);}

.bkg-pri {background-color: var(--primary); color: var(--white);}
.bkg-transparent {background-color: transparent;}

.color-primary {color: var(--primary);}
.color-white {color: var(--white);}
.color-accent-white {color: var(--accent-white);}
.color-black {color: var(--black);}
.color-accent-black {color: var(--accent-black);}
.color-gray {color: var(--gray);}
.color-light-gray {color: var(--light-gray);}

#techs img {
    color: var(--gray);
}

/* text */
a:hover {text-decoration: underline;}

h1 {font-size: 4rem;}
h2 {font-size: 2.5rem;}
h3 {font-size: 2rem;}
h4 {font-size: 1.75rem;}
h5 {font-size: 1.5rem;}
h6 {font-size: 1.25rem;}

/* style */
button {
    width: fit-content;
    padding: 0.5rem 1.5rem;
    border-radius: 2rem;

    border: 1px solid;
    border-color: inherit;
    color: inherit;
    cursor: pointer;
}
.btn-pri {
    background-color: transparent;
}
.btn-pri:hover {
    background-color: var(--primary);
    border-color: var(--primary);
    color: var(--accent-white);
}

#button-to-top {
    display: none;
    position: fixed;
    bottom: 1.5rem;
    right: 1.5rem;
    z-index: 1;

    border: none;
    background-color: var(--dark);
    color: white;

    cursor: pointer;
    width: 2.5rem;
    height: fit-content;
    aspect-ratio: 1/1;
    padding: 0.5rem;
    border-radius: 4px;
}