* {
    color: #fff;
    font-family: sans-serif;
    box-sizing: border-box;
  }
  Body {
    background: #000;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
  }
  
  main {
    max-width: 800px;
    height: 400px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    background: url("https://i02.appmifile.com/mi-com-product/fly-birds/xiaomi-12s-ultra/img_npc_04.jpg?f=webp")
      no-repeat center center;
    background-size: contain;
  }
  main .col {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    justify-content: center;
    padding: 2rem;
  }
  
  .otl-label {
    border: 1px solid #fff;
    padding: 0.25rem 0.75rem;
    border-radius: 2rem;
    font-size: 12px;
    width: fit-content;
  }
  small {
    color: #999;
  }
  