input,
select,
button {
    padding: 0.25rem 0.5rem;
    margin: 0 0.25rem;
}

.shopping-list {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.shopping-list li {
    display: inline-flex;
    gap: 0.5rem;
}

.strikeout .label {
    text-decoration: line-through;
}

.priority {
    padding: 0.1rem 0.5rem;
    border-radius: 0.25rem;
    font-size: small;
    margin-left: 0.5rem;
}

.low .priority {
    background: #297d92;
    color: #fff;
}

.medium .priority {
    background: #302992;
    color: #fff;
}

.high .priority {
    background: #922932;
    color: #fff;
}

footer {
    border-top: solid 1px #ccc;
    padding: 0.5rem;
}