{% extends 'base.html' %}

{% block title %}Login{% endblock %}
{% block content %}
<section>
    <div class="container p-3">
        <h2>Login to Flashy</h2>
        <form method="post">
            {{ form.csrf_token }}
            <div class="mb-3">
                <label for="username" class="form-group">Username:</label>
                {{ form.username(class="form-control", placeholder="juliarizza")}}

                {% if form.errors.username %}
                <div class="alert alert-danger mt-2" role="alert">
                    <ul>
                        {% for err in form.errors.username %}
                            <li>{{ err }}</li>
                        {% endfor %}
                    </ul>
                </div>
                {% endif %}
            </div>
            
            <div class="mb-3">
                <label for="password" class="form-label">Password:</label>
                {{ form.password(class="form-control", placeholder="*******")}}
                
                {% if form.errors.password %}
                <div class="alert alert-danger mt-2" role="alert">
                    <ul>
                        {% for err in form.errors.password %}
                            <li>{{ err }}</li>
                        {% endfor %}
                    </ul>
                </div>
                {% endif %}
            </div>

            <div class="checkbox mb-3">
                <label>
                    {{ form.remember_me }} Remember me
                </label>
            </div>

            <button type="submit" class="btn btn-primary w-100">Login</button>                        
        </form>

        {% with messages = get_flashed_messages() %}
        {% if messages %}
            <div class="alert alert-warning">
                {{messages[-1]}}
            </div>
        {% endif %}
        {% endwith %}
    </div>
</section>
{% endblock %}