/* Fonte */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;700&display=swap');

/* Todo o Documento */
* {
    font-family: 'Open Sans', sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: rgb(80, 80, 80);
    text-decoration: none;
    list-style: none;
    scroll-behavior: smooth;
}
img[type="svg"] {
    height: 1.5rem;
}

/* Navegação Fixada */
nav {
    position: fixed;
    width: 100%;
    background-color: white;
}
nav .secao-container {
    display: flex;
    justify-content: space-between;
    padding: 1rem !important;
    margin: auto;
}
nav ul {
    display: flex;
    gap: 1rem;
}
nav ul li a:hover {
    text-decoration: underline;
}

/* Cabeçalho */
header {
    margin: 0;
    min-height: 50vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
header h1, h2, h3 {
    font-weight: 300;
    margin: 2rem 0;
}
header strong {
    font-weight: 600;
}
header h3 {
    display: flex;
    align-items: center;
    gap: 1rem;
    flex-wrap: wrap;
}
header h3 a {
    font-weight: 400;
    transition: ease 0.3s;
}
header h3 a:hover {
    background-color: crimson;
    color: white;
}
header img[type="svg"] {
    height: 2rem;
}

/* Seções */
section {
    display: flex;
    justify-content: center;
    align-items: center;
}
.secao-titulo {
    text-transform: uppercase;
    margin-bottom: 1rem;
}
.secao-container {
    width: 100%;
    max-width: 1000px;
    padding: 2rem;
}

/* Skills */
.skills-table ul {
    display: flex;
    flex-wrap: auto;
}
.skills-table li {
    margin: 0.25rem;
}
.skills-table li:after {
    content: ',';
}
.skills-table li:last-child:after {
    content: '.' !important;
}

/* Projetos */
.projeto-recentes, .projeto-outros {
    cursor: pointer;
}

/* Outros Projetos */
.projeto-outros {
    width: 100%;
}
.projeto-outros-tipo {
    font-size: small;
    font-weight: 300;
}
.projeto-outros-nome {
    font-weight: 500;
}
.projeto-outros img {
    transition: all ease 0.5s;
}
.projeto-outros img:hover {
    transform: scale(1.05) translateY(5px);
}
.outros-projetos-linha {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
}

/* Contato */
section[class="contato"] {
    margin-top: 3rem;
    background-color: whitesmoke;
}
.contato ul li a {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    padding: 0.5rem 0;
}
.contato img {
    height: 1.25rem;
    text-shadow: 5px 2px black;
}

/* Rodapé */
footer {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: whitesmoke;
}
footer ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin-top: 1rem;
}

/*
    - largura (nav, header, sections e footer);
    - quebras (skills, outros projetos);
    - Tamanho da fonte (h1, h2, h3, p);
*/

/* max 600px */
@media only screen and (max-width: 600px) {
    .skills-table ul, .outros-projetos-linha {
        display: flex;
        flex-wrap: wrap;
    }
}