* {
	margin: 0;
	box-sizing: border-box;
	font-family: roboto, arial;
	outline: none;
	text-decoration: none;
	color: dimgray;
}

ul, ol, ul li {
	list-style: none;
	outline: none;
}

nav ul {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 20px;
	padding: 12px;
}
nav button {
	border: none;
	padding: 8px 14px;
	outline: none;
	font-weight: 700;
	border-radius: 4px;
	cursor: pointer;
}

.music-gallery {
	padding: 100px;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
	flex-wrap: wrap;
	gap: 20px;
}

audio {
	width: 100%;
	margin-top: 10px;
	margin-bottom: 24px;
}

.music-cover {
	border-radius: 25px;
	transition: all ease 0.5s;
	width: 100%;
}
.music-cover:hover {
	transform: scale(1.05) translateY(5px);
}

.music-title{
	margin-top: 5px;
	font-size: 16px;
	font-weight: 500;
}

.artist-name {
	margin-top: 2.5px;
	font-size: 12px;
}

footer {
	background-color: #f0f0f0;
	padding: 24px;
}
.footer-map {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
	flex-wrap: wrap;
	gap: 20px;
}

.map-site {
	width: 100%;
}
.map-title {
	margin-bottom: 16px;
}
.map-site a {
	color: gray;
}
.map-site a:hover {
	text-decoration: underline;
}

.copyright {
	margin-top: 24px;
	text-align: center;
}