:root {
    --light-gray: #F6F7FB;
    --dark-gray: #2A2B2D;
    --light-blue: #E9EFFB;
    --blue: #C3EED0;
    --dark-blue: #C3E7FF;
    --green: rgb(176, 255, 176);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    color: var(--dark-gray);
    font-weight: 600;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: whitesmoke;
}

.calculator {
    box-shadow: 2rem 1rem 2rem var(--light-blue);
    border: 2px solid var(--dark-gray);
}

.calculator input {
    min-width: 250px;
    max-width: 320px;
    width: 100%;
    padding: 3rem 1.5rem;
    background-color: var(--light-blue);
    border: none;
    font-size: 2rem;
    outline: none;
    text-align: right;
}

.calculator table {
    width: 100%;
    padding: 0.5rem;
    background-color: white;
}

.calculator td {
    padding: 1.5rem;
    border: none;
    cursor: pointer;
    text-align: center;
    background-color: var(--light-gray);
    border-radius: 2rem;
}
.calculator td:hover {
    background-color: rgb(230, 230, 230);
}

.calculator #ac {
    background-color: var(--green);
}
.calculator #ac:hover {
    background-color: rgb(158, 252, 158);
}