<div class="bg-body-secondary p-5">
    <div class="container">
        <h1>Node with EJS</h1>
        <p>Let's learn how to working with EJS</p>
        <a href="/about">
            <button class="btn btn-primary">Know more</button>
        </a>
    </div>
</div>