* {
	margin: 0;
	box-sizing: border-box;
	font-family: 'Roboto', sans-serif;
	outline: none;
	color: #111;
}

body {
	min-height: 100vh;
}

a, button {
	text-decoration: none;
	cursor: pointer;
}
a:hover {
	text-decoration: underline;
}

button {
	font-weight: 400;
}

ul {
	list-style: none;
}

header {	
	display: flex;
	justify-content: flex-end;
	width: 100%;
}

header ul {
	display: flex;
	justify-content: center;
	align-items: center;
}
header li {
	margin-left: 20px;
}
header li a {
	font-size: 14px;	
}

header ul li button {
	background: #7300ff;
	border: none;
	padding: 8px 14px;
	color: #fff;
	font-weight: 700;
	border-radius: 4px;
}

header, main {
	padding: 24px;
}

main, .searchbox {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

main h1 {
	font-size: 88px;
}

.searchbox {
	max-width: 600px;
	margin: auto;
	text-align: center;
	gap: 16px;
}

.searchbox, .search-bar, 
.search-bar input, .search-buttons {
	width: 100%;
	display: flex;
	justify-content: center;  
}

.search-bar {
  justify-content: end;
}
.search-bar input, .search-bar button {
	padding: 8px 16px;
	border-radius: 24px;
	border: 1px solid #ccc;
	font-size: 16px;
}
.search-bar button {
	color: white;
	background-color: #444;
	position: absolute;
}
.search-bar button:hover{
	background-color: #222;
}

.search-buttons {
	display: flex;
	gap: 8px;
}
.search-buttons button {
	padding: 8px 16px;
	color: #555;
	font-size: 14px;
	border: none;
	border-radius: 20px;
	border: 1px solid transparent;
}
.search-buttons button:hover {
	border: 1px solid #ccc;
}